@import '../styles/media.css';

.expiriencecard {
  list-style: none;
  margin: 0;
  padding: 0;
}

.expiriencecard li {
  margin-bottom: 0.75em;
}

.grey {
  color: var(--light-dark);
}

.expiriencecard p {
  text-wrap: balance;
  margin: 0.5em;
}
