@import '../styles/media.css';

.langselect {
  font-weight: bold;
  border-width: 2px;
  height: fit-content;
  cursor: pointer;
  width: 100px;
  padding: 0.5em 0;
  justify-content: center;
  margin-right: auto;

  @media (--mobile) {
    margin-left: auto;
    margin-right: 0;
  }
}

.langselect::picker(select) {
  border-radius: 0.5em;
  border-width: 2px;
  background-color: var(--darkest);
  color: inherit;
  position-area: block-end span-inline-start;
}

