select {
  appearance: base-select;
  font-weight: bold;
  border-width: 2px;
  height: fit-content;
  cursor: pointer;
  margin-left: auto;
  width: 100px;
  padding: 0.5em 0;
  justify-content: center;
}

::picker(select) {
  margin-top: 0.25em;
  appearance: base-select;
  border-radius: 0.5em;
  border-width: 2px;
  background-color: var(--darkest);
  color: inherit;
  position-area: block-end span-inline-start;
}

select::picker-icon {
  content: none;
}

select option {
  padding: 0.5em;
}

select option::checkmark {
  content: none;
}

